body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
  }
  
  header {
    background-color: #1f2937;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 40px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }

  #about p
  {
    text-align: justify;
  }

  #skills div{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border: 2px solid #000; */
    height: 30px;
  }

  #experience div{
    display: flex;
    justify-content: space-between;
    height: 30px;
  }

  #projects ul
  {
    text-align: justify;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #1f2937;
    color: white;
    margin-top: 40px;
  }
  

  .project {
    margin: 10px 0;
  }
  .extra-projects {
    display: none; 
  }
  .see-more {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    
  }

  .see-more-container {
    text-align: right; 
    margin-top: 10px; 
  }

  p, ul, li {
  font-size: 16px;
  /* font-weight: 600; */
}

@media (max-width: 768px) {
  p, ul, li {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  p, ul, li {
    font-size: 12px;
  }
}

